.search-box-wrapper{
display:inline-flex;
font-size:20px;
right:0px;
position:relative;
margin-left:15px;
margin-right:10px;
margin-top:5px;
}
 .sreach-box-input{
	 font-size:inherit;
	 border:0.2em solid #7e7;
	 border-radius:0.5em 0 0 0.5em;
	 padding:0.2em 0.5em;
 } 

.search-box-button{
	font-size:inherit;
	border:0.2em solid rgb(150,150,150);
	background-color:rgb(150,150,150);
	border-left:0;
	padding:0 0.75em;
	color:#white;
	font-weight:bold;
	outline:0;
	cursor:pointer;
}
.search-box-input:hover,
 .search-box-input:focus{
	  background-color:rgb(255,255,255);
 }