.menu{
 list-style:none;
 float :right;
 margin-top: 20px;
 }
.menu li{
	display: inline-block;
}
.menu li a{
	color:#fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family:poppins;
	font-size:14px;
}
.menu li a:hover{
	background:#fff;
	color: #333;
}
.logo img{
	width: 150px;
	float: left;
	height:auto;
}

.welcome-text{
	position:absolute;
	width: 1050px;
	height:10px;
	margin: 10% 10%;
	text-align:center;
}
.welcome-text h1{
	text-align:center;
	color:#D0D3D4;--
	font-family: Courier New;
	text-transform:uppercase;
	font-size:50px;
	font-weight: 90;
}
#footer {
	text-align = center;
	background:#001B3A;
	padding:0 0 30px 0;
	color:#eee;
	font-size:14px;
}
#footer .footer-top{
	background:#000000;
	padding:60px 0 20px 0;
}
#footer .footer-top.footer-info{
	margin-bottom:30px;
}
#footer .footer-top .footer-info h3{
	font-size:34px;
	margin:0 0 20px 0;
	padding:2px 0 2px 0;
	line-height:1;
	font-family:"montserrat",sans-serif;
	color:#fff;
	font-weight:400;
	letter-spacing:3px;
	text-transform:uppercase;
}
#footer .footer-top .footer-social-link a{
	font-size: 18px;
	display:inline-block;
	background: #007bff;
	color: #fff;
	line-height:1;
	padding:8px 0;
	margin-right:4px;
	border-radius: 50x;
	text-align:center;
	width:36px;
	height:36px;
	transition:0.3s;
}
#footer .footer-top .footer-social-links a:hover {
	background:#0067d5;
	color:#fff;
}
.footerlogo1{
	float: right;
	margin-left:5px;
	margin-right:5px;
	margin-top:10px;
}
.footerlogo2{
	float: right;
	margin-right:5px;
	margin-bottom:10px;
	margin-top:-28px;
}
#footer .footer-top h4{
	font-size:14px;
	font-weight:bold;
	color:#fff;
	text-transform:uppercase;
	position:relative;
	padding-bottom:10px;
}
#footer .footer-top.footer-links {
	margin-bottom:30px;
}
#footer .footer-top .footer-links ul {
	list-style:none;
	padding:0;
	margin:0;
}
#footer .footer-top .footer-links ul li{
	padding:8px 0;
}
#footer .footer-top .footer-links ul li:first-child {
	padding-top:0;
}
#footer .footer-top .footer-links ul a {
	color: #ecf5ff;
}
#footer .footer-top .footer-links ul a:hover {
	color: #74b5fc;
}
#footer .footer-top .footer-contact {
	margin-bottom:30px;
}
#footer .footer-top .footer-contact p {
	line-height:26px;
}
#footer .footer-top .footer-newsletter {
	margin-bottom:30px;
}
	
#footer .footer-top .footer-newsletter input[type="email"] {
	border:0;
	padding:6px 8px;
	width:65%;
}

#footer .footer-top ,footer-newsletter input[type="submit"]{
	background:#007bff;
	border:0;
	width: 35%;
	padding:6px 0;
	text-align:center;
	color:#fff;
	transition:0.3s;
	cursor:pointer;
}
#footer .footer-top ,footer-newsletter input[type="submit"]:hover{
	background:#000000;
}
#footer .copyright{
	text-aling:center;
	padding-top:15px;
}
#footer .credits{
	text-align:center;
	font-size:13px;
	color:#flf7ff;
}
#footer.credits a{
	color:#bfddfe;
}
#footer .credits a:hover{
	color:#flf7ff;
}
.register {
	max-width: 800px;
	padding: 10px 20px;
	margin: 20px auto;
	padding: 20px;
	background:#EFCCCC85;
	border-radius: 8px;
	font-family:Arial, Helvetica, sans-serif;
}
.login{
	font-family: Georgia, "Times New Roman", Times, serif;
	position: relative;
	max-width: 360px;
	margin:0 auto 10px;
	padding:45px;
	color: white;
}
.loginbutton{
    background-color: #3EAA9C;
    color: white;
    padding: 8px;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
	text-decoration: none;
}
